@import '../consts.scss';

@mixin cell($color) {
    margin: 5px;
    padding: 1px 10px;
    box-sizing: border-box;
    min-height: 54px;
    overflow: scroll;
    background: $color;
    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
        display: none;
    }
    
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

@mixin celllabel($background-color: gray, $color: white) {
    width: fit-content;
    padding: 4px 8px;
    font-size: 13px;
    line-height: 15px;
    margin-bottom: -28px;
    margin-left: 5px;

    background-color: $background-color;
    color: $color;
}

.textCell {
    @include cell(rgba(gray, 0.08));
}

.mathCell {
    @include cell(rgba($main-color, 0.08));
}

summary.mathCellPreview {
    @include celllabel(rgba($main-color, 0.8),white);
}

.codeCell {
    @include cell(rgba(gray, 0.16));
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 13.33px;
}

summary.codeCellPreview {
    @include celllabel(rgba(gray, 0.8), white);
}

.editorCellContainer {
    display: flex;
    align-items: stretch;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

@mixin editorCell($color) {
    display: inline-block;
    width: 100%; //calc(100% - 6px);
    // margin: 2px 0;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    resize: none;
    background: $color;
    border: none;
    // min-height: 54px;
    // max-height: 250px;
    line-height: 20px;
    vertical-align: middle;
    overflow-y: hidden;

    //height is intended to be auto-adjusted by react-textarea-autosize package.
    //do not specify min- or max-height and leave `overflow-y:hidden` as it is.
}

.editorTextCell {
    @include editorCell(rgba(gray, 0.08));
}

.editorMathCell {
    @include editorCell(rgba($main-color, 0.08));
}

.editorCodeCell {
    @include editorCell(rgba(gray, 0.16));
}

.addCellButton {
    display: block;
    width: calc(100% - 6px);
    background-color: blue;
    opacity: 0;
    font-size: 0; // hide text.
    border: 0;
    height: 6px;
    margin-left: 6px;

    &:hover{
        opacity: 1;
        transition: 0.3s;
    }
}

.cellOptionButton {
    display: inline-block;
    width: 6px;
    background-color: blue;
    opacity: 0;
    font-size: 0;
    // height: 36px;
    border: none;
    margin: 0;
    padding: 0;
    vertical-align: middle;

    &:hover{
        opacity: 1;
        transition: 0.3s;
    }
}