.cellListWrapper {
    background-color: white;
    box-sizing: border-box;
    
    @media(max-width: 720px) {
        border-top: solid 1px #ddd;
        border-bottom: solid 1px #ddd;
    }
    @media(min-width: 720px) {
        border-radius: 7px;
        width: min(1200px, 80%);
        margin: 20px auto;
        @include shadow-template();
    }

    > hr {
        border: 0;
        height: 1px;
        background: #ddd;
    }
}

.pageTitle {
    margin-left: 20px;
    @media(min-width: 720px) {
        margin-left: max(calc(50% - 600px), 10%);
    }
}

#authorForm {
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    button {
        @include button-template($primary-color);
    }
}

.searchedFlatItemList {
    padding-bottom: 20px;
    border-top: solid 1px #ddd;
}

.searchedFlatItem {
    padding: 16px 32px;
    &:nth-child(odd) {
        background-color: #fbfbff;
    }
}

.searchedFlatItemInfo {
    display: flex;
    justify-content: space-between;
}