@mixin shadow-template {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@mixin input-template {
    box-sizing: border-box;
    background-color: #f5f6fa;
    border: solid 2px transparent;
    border-radius: 5px;
    padding: 7px 10px;
    transition: all ease 0.2s 0s;

    &:hover {
        background-color: white;
        box-shadow: 0 0 5px $primary-color;
    }
    &:focus {
        background-color: white;
        border-color: $primary-color;
        outline: none;
    }
}

@mixin label-template($color) {
    font-size: 12px;
    font-weight: 600;
    background-color: $color;
    color: white;
    width: fit-content;
    padding: 4px 8px;
}

@mixin button-template($color) {
    box-sizing: border-box;
    font-size: 16px;
    background-color: $color;
    border: solid 2px transparent;
    border-radius: 7px;
    color: white;
    padding: 7px 15px;
    transition: all ease 0.2s 0s;

    &:hover {
        background-color: lighten($color, 10%);
    }
    &:active {
        background-color: darken($color, 10%);
    }
}

.displayText {
    font-family: 'SeoulNamsan';
    text-align: center;
    margin: 72px 10%;
    line-height: 1.6;
    
    .title {
        font-size: 48px;
        font-weight: bold;
    }
    .author {
        font-size: 24px;
        font-weight: bold;
    }


    @media(min-width: 720px) {
        &::after {
            display: inline-block;
            background-color: #ccc;
            width: 50%;
            height: 1px;
            margin-top: 32px;
            content: '';
        }
    }
}

.cellEditorWrapper, .cellDisplayWrapper, .aboutDisplayWrapper {
    background-color: white;
    box-sizing: border-box;
    padding: 10px 20px;
    @media(max-width: 720px) {
        border-top: solid 1px #ddd;
        border-bottom: solid 1px #ddd;
    }
    @media(min-width: 720px) {
        border-radius: 7px;
        width: min(1200px, 80%);
        margin: 48px auto;
        @include shadow-template();
    }

    > hr {
        border: 0;
        height: 1px;
        background: #ddd;
    }
}
.cellDisplayWrapper .allCellsWrapper > .internalCellWrapper {
    display: none;
}

.editorTextInput {
    display: flex;
    margin: 20px;
    @media(max-width: 900px) {
        flex-direction: column;
        input {
            width: 100%;
        }
    }
}
.titleInput, .authorInput {
    flex: 1;
    input {
        @include input-template();
    }
    &:focus-within {
        label {
            color: $primary-color;
            font-weight: 600;
        }
    }
}

.allCellsWrapper {
    padding: 0px 20px;
}

.cellContentWrapper {
    position: relative;
    background-color: white;
    min-height: 48px;
    transition: all ease 0.1s 0s;
    
    &:hover, &.editingCellWrapper {
        &:not(.internalCellWrapper) {
            @include shadow-template();
        }
        .cellToolbar {
            transition: inherit;
            opacity: 1;
            // @include shadow-template();
        }
    }

    .allCellsWrapper > & {
        margin: 30px 0px;
    }
}

.editorRootCellWrapper, .rootCellSettings{
    width: 100%;
}

.rootCellSettings td{
    height: 24px; //min-height
    vertical-align: middle;
    white-space: nowrap;
}
.rootCellSettings td:last-child{
    width: 100%;
    text-align: left;
    white-space: pre;
}
.rootCellSettings code{
    text-align: left;
    white-space: pre;
}

.editorRootCellTextArea {
    width: 100%;
}

.sectionCell {
    min-height: 48px;
    line-height: 48px;
    padding: 0 7px;
    box-sizing: border-box;
    word-break: break-all;
    transition: all ease 0.1s 0s;
    &:hover {
        color: $primary-color
    }
    &:active {
        color: rgba($primary-color, 0.16);
    }
    .hiddenSectionWrapper & {
        color: #e5e6ea;
        &:hover {
            color: $primary-color
        }
        &:active {
            color: rgba($primary-color, 0.16);
        }
    }
    .cellDisplayWrapper & {
        cursor: pointer;
    }
}

.editorSectionCellInput{
    border: none;
    background-color: #f5f6fa;
    height: 48px;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    &:focus {
        outline: none;
    }
}
.childrenContainerHiddenEditor{
    background-color: antiquewhite;
}
.childrenContainerHidden {
    display: none;
}
.toggleHideChildren{
    cursor: pointer;
    user-select: none;
}

.cellChildrenWrapper {
    position: relative;
    padding: 0 10px;
    &:after {
        content: '';
        position: absolute;
        left: -40px;
        top: 0;
        height: 100%;
        width: 6px;
        background-color: transparent;   
        transition: all ease 0.2s 0s;
    }
    &:hover, &:focus-within, .cellContentWrapper:hover+&, .cellContentWrapper:focus-within+& {
        &:after {
            background-color: rgba($primary-color, 0.16);
        }
    }
    .allCellsWrapper > & {
        &:after {
            background-color: transparent;
        }
    }
}

.cellToolbar {
    right: 3px;
    top: 0px;
    transform: translateY(-50%);
    position: absolute;
    z-index: 1;
    opacity: 0;
    display: flex;
    
    .cellOptions, .cellInfo {
        margin: 0px 3px;
        background-color: white;
        border-radius: 7px;
        padding: 2px 4px;
        @include shadow-template();
    }
    
    input[type=checkbox] {
        display: none;
        &+label {
            cursor: pointer;
            margin: 0px;
        }
        &:checked+label {
            color: $primary-color;
        }
    }
    
    .cellOptionButton, .cellInfoIcon {
        background-color: transparent;
        font-size: 18px;
        width: 20px;
        height: 20px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        vertical-align: middle;
    }
    .cellInfoText {
        font-size: 16px;
        height: 20px;
        margin: 0 4px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        vertical-align: middle;
    }
    .cellInfoIcon + .cellInfoText { margin: 0 4px 0 0; }
}

.cellHandle {
    width: 10px;
    height: 10px;
    background-color: blue;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;

    &:active {
        cursor: grabbing;
        cursor: -moz-grabbing;
        cursor: -webkit-grabbing;
    }
    // visibility: transform !== null ? 'hidden' : undefined
}

.interBlockHelper {
    opacity: 0;
    height: 16px;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease 0.1s 0s;
    
    hr {
        border: none;
        height: 6px;
        background-color: white;
        border-radius: 3px;
        width: 0;
        transition: inherit;
        position: absolute;
        z-index: 0;
    }
    
    .addButtonsWrapper {
        display: flex;
        position: relative;
        padding: 0 10px;
        &:before, &:after {
            position: absolute;
            background-color: white;
            border-radius: 3px;
            width: 100%;
            height: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            content:'';
        }
        &:after {
            @include shadow-template();
            z-index: -1;
        }
    }
    
    button {
        z-index: 1;
        background-color: transparent;
        font-size: 20px;
        width: 36px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    &:hover {
        opacity: 1;
        hr {
            @include shadow-template();
            width: 100%;
        }
    }

    &.helperOver {
        opacity: 1;
        hr {
            @include shadow-template();
            width: 100%;
            background-color: $primary-color;
        }

        .addButtonsWrapper {
            display: flex;
            position: relative;
            padding: 0 10px;
            &:before, &:after {
                position: absolute;
                background-color: $primary-color;
                border-radius: 3px;
                width: 100%;
                height: 100%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                content:'';
            }
            &:after {
                @include shadow-template();
                z-index: -1;
            }
        }
    }
}

.editorTextCellWrapper, .editorMathCellWrapper {
    display: flex;
    align-items: stretch;
    @media(max-width: 900px) {
        flex-direction: column-reverse;
        .editorCell {
            border-top: solid 1px #ddd;
        }
    }
    @media(min-width: 900px) {
        .editorCell {
            border-right: solid 1px #ddd;
            flex: 0 0 50%;
        }
        > div {
            flex: 0 0 50%;
        }
    }
}
.editorCodeCellWrapper {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    .editorCell {
        border-top: solid 1px #ddd;
    }
}

.textCell, .mathCell, .codeCell {
    box-sizing: border-box;
    padding: 7px 10px;
    min-height: 48px;
}
.mathCell {
    // background-color: rgba($primary-color, 0.06);
}
.codeCell {
}
.codeCellLabel {
    @include label-template(#9b9fba);
}
.codeCellPreview {
    // border-left: solid #9b9fba 3px;
    font-size: 10pt;
    line-height: 1.4;
}

.editorCell {
    box-sizing: border-box;
    border: none;
    padding: 7px 10px;
    background-color: #f5f6fa;

    &:focus {
        outline: none;
    }

    overflow: scroll;
    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
        display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.imageCellImage {
    margin: auto;
    max-width: 100%;
}
.imageCellCaption {
    text-align: center;
    line-height: 1.6;
}

.buttonsWrapper {
    margin: 20px;
    display: flex;
    flex-direction: row-reverse;
    .uploadButton {
        @include button-template($primary-color);
    }
}