#authorForm {
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    button {
        @include button-template($primary-color);
    }
}

.searchedFlatItemList {
    padding-bottom: 20px;
    border-top: solid 1px #ddd;
}

.searchedFlatItem {
    padding: 16px 32px;
    &:nth-child(odd) {
        background-color: #fbfbff;
    }
}

.searchedFlatItemInfo {
    display: flex;
    justify-content: space-between;
}