@import '../consts.scss';
@import './buttons.scss';

.guideBackground {
    position: fixed;
    z-index: -1;
    background: #f9f9f9;
//    background: transparent linear-gradient(147deg, #F9B399 0%, #FF7BAC 100%) 0% 0% no-repeat padding-box;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

.guide {
    div.metadata {
        .metadataItem {
            font-size: 14px;
            font-weight: bold;
            text-align: center;

            -moz-appearance: none;
            -webkit-appearance: none;
            appearance: none;
            
            color: black;
            width: 125px;
            height: 28px;
            background: #66666633;
//            background: none;
            border-radius: 14px;
//            border: 1px solid #88888888;
            border: none;
            padding-left: 9px;
            padding-right: 9px;
            
            margin: 0px 7px;
        }
    }

    h1.title {
        font-size: 40px;
        line-height: 55px;
//        color: white;
        color: #444444;
        margin-bottom: 9px;
        margin-top: 20px;
        margin-left: 20px;
    }

    div.subcontainer {
        margin: 0px 10px;
        button {
            &.author {
                @include tagButton(#ddffdd);
            }
            &.tag {
                @include tagButton(white);
            }

            .material-icons {
                font-size: inherit;
                transform: translate(-1.5px, 1.5px);
            }
        }
    }

    h2.subtitle {
        font-size: 21px;
        line-height: 30px;
//        color: white;
        color: #444444;
        margin-top: 6px;
        margin-bottom: 6px;
        margin-left: 20px;
        text-shadow: 0px 0px 8px rgba($primary-color, 0.4);
    }

    h3.tags {
        font-size: 16px;
        line-height: 24px;
//        color: white;
        color: #222222;
        margin-top: 6px;
        margin-bottom: 6px;
        margin-left: 20px;
    }

    .guideNavigateBar {
        padding: 15px calc(10% - 40px);
        @media (max-width: $max-mobile-width) {
            padding: 15px 20px;
        }

        display: flex;
        color: white;
        text-shadow: 0px 5px 5px #0000004D;
        font-size: 16px;
        .material-icons {
            transform: translateY(7px);
        }

        .guideNavigateLeft {
            flex: 1 0 50%;
            text-align: left;
        }
        .guideNavigateRight {
            flex: 1 0 50%;
            text-align: right;
        }

        .guideNavigateItemName {
            @media (max-width: $max-mobile-width) {
                display: none;
            }
        }
    }

    .guideContent {
//        font-family: 'SeoulHangang';
        background: white;
        box-sizing: border-box;
        width: 100%;
        padding: 20px calc(10% - 40px);
        margin: 10px 0px;

        @media (max-width: $max-mobile-width) {
            padding: 20px 20px;
        }
        box-shadow: 0px 3px 20px #0000004D;
        border-radius: 2px;
    }

    // .guideContent.hideEssential .Essential > *:not(:first-child),
    // .guideContent.hideRecommendable .Recommendable > *:not(:first-child),
    // .guideContent.hideReadable .Readable > *:not(:first-child),
    // .guideContent.hideOptional .Optional > *:not(:first-child),
    // .guideContent.hideDraft .Draft > *:not(:first-child){
    //     display: none;
    // }

    .guideContent.hideEssential .Essential > *:not(.headingBlock),
    .guideContent.hideRecommendable .Recommendable > *:not(.headingBlock),
    .guideContent.hideReadable .Readable > *:not(.headingBlock),
    .guideContent.hideOptional .Optional > *:not(.headingBlock),
    .guideContent.hideDraft .Draft > *:not(.headingBlock){
        display: none;
    }

    .guideContent.hideEssential .Essential > .headingBlock,
    .guideContent.hideRecommendable .Recommendable > .headingBlock,
    .guideContent.hideReadable .Readable > .headingBlock,
    .guideContent.hideOptional .Optional > .headingBlock,
    .guideContent.hideDraft .Draft > .headingBlock {
        opacity: 0.5;
    }
}

.guideList {
    h1 {
        margin: 20px;
        font-size: 24px;
        line-height: 32px;
        color: #FFFFFF;
        text-shadow: 0px 4px 5px #0000004D;
    }

    .guideListContainer {
        background: white;
        border-left: 10px $primary-color solid;
        box-shadow: 0px 10px 15px #00000026;
        border-radius: 10px;
    }

    .guideListSection {
        padding: 17px 10px;
        margin: 0px 16px;
        font-size: 20px;
        display: flex;
        flex-wrap: nowrap;
        align-items: flex-start;
        overflow: auto;

        @media (max-width: $max-mobile-width) {
            padding: 12px 10px;
        }

        .index {
            flex: 0 0 40px;
            font-weight: bold;
            color: $primary-color;
        }

        .title {
            flex-grow: 1;
        }

        div {
            overflow: auto;
        }
    }

    .guideListItem {
        padding: 15px 16px;
        margin: 0px 47px;
        font-size: 16px;
        font-weight: 200;
        display: flex;
        flex-wrap: nowrap;
        align-items: flex-start;
        overflow: auto;

        @media (max-width: $max-mobile-width) {
            padding: 10px 10px;
            margin: 0px 20px;
        }

        .title {
            flex-grow: 1;
        }

        .priority {
            flex: 0 0 60px;
            font-size: 12px;
            font-weight: 300;
            text-align: right;
        }

        div {
            overflow: auto;
        }
    }
}

.guideFeedList {
    margin: auto;
    max-width: 1350px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .guideFeed {
        margin: 25px;
        flex: 0 0 283px;

        @media (max-width: $max-mobile-width) {
            flex: 1 0 51%;
        }

        .guideFeedContent {
            border-radius: 3.5px;
            background: white;
            border-top: 10px $primary-color solid;
            box-shadow: 0px 5px 15px #00000056;
            padding-top: 5px;
            min-height: 245px;


            background-image: linear-gradient(120deg, #f3f3f3 0%, #fafafa 100%);



            .author {
                font-size: 14px;
                line-height: 14px;
                padding: 5px 15px;
                padding-bottom: 10px;
                bottom: 0;
            }

            .tags {
                font-size: 11px;
                line-height: 20px;
                padding: 15px 15px;
                bottom: 0;
                max-height: 15px;
                overflow: hidden;
            }

            .title {
                font-size: 20px;
                line-height: 26px;
                text-shadow: 0px 1px 8px #ffffff88;
                padding: 3px 15px;
                max-height: 26px;
                overflow: hidden;
            }

            .content {
//                background: #ffffff88;
                padding: 4px 15px;
                font-size: 11px;
                line-height: 22px;
                height: 132px;
                overflow: hidden;
            }
            .metadata {
                font-size: 12px;
                line-height: 20px;
                margin: 10px 15px;
                bottom: 0;
            }
        }
    }
}

.guideSidebar {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 3;
    button {
        @include sidebarButton;
    }

    .prioritySelectorContainer {
        position: absolute;
        width: 180px;
        left: -140px;
        top: -220px;

        .prioritySelector {
            width: 100%;
            background-color: white;

            border-radius: 2px;

            background-color: white;
            box-shadow: 0px 3px 10px #0000004D;

            margin: 10px 0px;
            padding: 5px 10px;
        }
    }
}