@import '../consts.scss';
@import './popup.scss';

div.signinShadow {
    @include popupShadow;
}

div.signinContainer {
    @include popupContainer(460px, 460px, auto);

    @media (max-width: $max-mobile-width) {
        width: calc(100% - 20px);
    }

    div.signinHeader {
        @include popupHeader(35px 0px 35px 0px);
    }

    button.signin {
        @include standardButton;
    }

    input.signinForm {
        padding: 13.5px 20px;

        font-size: 15px;
        font-weight: 300;
        border: none;
        margin: 12px 51px;
        background: #EFEFEF;
        width: calc(100% - 102px);
        box-sizing: border-box;
        border-radius: 2px;

        @media (max-width: $max-mobile-width) {
            margin: 12px 0px;
            width: 100%;
        }
    }

    .helpText {
        width: 100%;
        text-align: center;
        margin: 16px 0px;
        color: $primary-color;
    }

}