
div.signupBox {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    margin: 40px 20px;
    padding: 20px 30px;
}

div.signupLabel {
    font-size: 14px;
    color: #666666;
    margin: 10px;
    margin-top: 15px;
}

input.signupForm {
    padding: 5px;
    margin: 10px 0px;

    font-size: 16px;
    font-weight: 300;
    width: calc(100% - 10px);
    border: none;
    border-bottom: #888888 1px solid;
}