$main-color: #e25fbd;
// $sub-color: #2bb886;
$main-background: #f9e5f2;

$primary-color: #F06498;
// $primary-color: #03A9FA;
// $primary-color: #4682B4;
$primary-color-light: #FFF4F5;

$max-mobile-width: 768px;
$min-tablet-width: 768px;
$max-tablet-width: 1024px;
$min-desktop-width: 1024px;