@import "@yaireo/tagify/dist/tagify.css";

// $padding: 1.5rem;

// html,
// body,
// #app {
//   height: 100%;
//   padding: 0;
//   margin: 0;
// }

// *,
// *::before,
// *::after {
//   box-sizing: border-box;
// }

// body {
//   font: 16px Arial;
//   background: #f5f5f5;
// }

// #app {
//   > *{ padding: 0 $padding; }
// }

.tagify {
//   margin-bottom: 3em;
  --tag-bg: #ffaecc;
  --tag-text-color: rgb(0, 0, 0);
  --tag-text-color--edit: rgb(0, 0, 0);
  --tag-hover: #F06498;
  --tag-remove-btn-color: rgb(50, 50, 50);
  --tag-remove-bg: #ffc6da;
  flex-wrap: nowrap;
  overflow: auto;
}

// header{
//   color: white;
//   background: #111;
//   background: linear-gradient(145deg,rgb(162,8,56) 0%,rgb(54,20,75) 100%);
  
//   text-align: center;
//   margin-bottom: 2em;
//   padding: $padding !important;
//   border-bottom: 1px solid #CCC;

//   h1{ margin:0 0 1em; }
//   a{ color: inherit; font-style: italic; text-decoration: none; border-radius: 8px; padding: .22em; margin: -.22em; }
//   a:hover{ background: rgba(white, .12); }
// }

// nav{
//   > a{
//     color: white;
//     margin: 0 1em;
//     padding: .8em;
//     border-radius: 6px;
//     text-decoration: none;
//   }
//   .active{ background:rgba(black,.25); }
// }

// h2{ 
//   margin:0 0 1em 0;
// }

// .clearAllBtn{
//   float: right;
//   margin-bottom: .5em;
//   margin-right: $padding;
//   + div { clear: both; }
// }