@import '../consts.scss';

#root {
    margin-top: 120px;
    margin-left: calc(10% - 20px);
    margin-right: calc(10% - 20px);
}

header {
    .navbar {
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        min-height: 88px;
        position: fixed;
        z-index: 2;
        
        background: white;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        display: flex;
        align-items: center;
        
        color: #000000;

        border-bottom: 1px #cdd1d8 solid;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);

        div.title {
            position: absolute;
            font-weight: 500;
            font-size: 18px;
            line-height: 24px;
            left: 10%;
            top: 14px;

            z-index: 1;

            img {
                height: 60px;
            }
        }

        ul.menu {
            @media (min-width: $min-tablet-width) {
                position: absolute;
                top: 35px;
                right: 72px;
                margin-right: 12%;
                width: calc(100% - 200px);
    
                li {
                    color: #666666;
                    font-size: 15px;
                    font-weight: 300;
                    padding: 16px 12px;
                    float: right;
                    overflow: hidden;
                    border: 2px rgba(0, 0, 0, 0) solid;
                    transition: all .2s ease-in-out;
                    
                    &:hover:not(.inactive), &.active {
                        color: $main-color;
                        border-bottom: 2px $main-color solid;
                    }
                }
            }
            @media (max-width: $max-mobile-width) {
                display: none;
                                
                &.expanded {
                    display: block;
                    width: 100%;
                    margin-top: 88px;

                    li {
                        color: #666666;
                        font-size: 15px;
                        font-weight: 300;
                        padding: 12px;
                        overflow: hidden;
                        width: 100%;
                        border: 2px rgba(0, 0, 0, 0) solid;
                        transition: all .2s ease-in-out;
                        
                        &:hover:not(.inactive), &.active {
                            color: $main-color;
                            border-bottom: 2px $main-color solid;
                        }
                    }
                }
            }
        }

        ul.account {
            position: absolute;
            margin: 0;
            right: 0;
            margin-right: 10%;

            top: 38px;

            li {
                color: #666666;
                font-size: 22px;
                font-weight: 300;
                padding: 12px;
                float: left;
                overflow: hidden;
                transition: all .2s ease-in-out;

                &:hover, &.active {
                    color: $main-color;
                }
            }
        }
    }
}  