@import 'consts.scss';


div.adminBox {
    box-shadow: 0px 3px 20px #0000004D;
    border-radius: 10px;
    margin: 40px 20px;

    > * {
        margin: 20px 30px;
    }

    .adminForm {
        input {
            padding: 15px;
            margin: 10px;
    
            font-size: 16px;
            font-weight: 300;
            width: 200px;
            background: #F1F2F8 0% 0%;
            border: none;
            border-radius: 10px;
            opacity: 1;
        }


        input.title {
            padding: 15px;
            margin: 10px 0px;
    
            font-size: 16px;
            font-weight: 300;
            width: calc(100% - 30px);
            background: none;
            border: none;
            border-radius: 0;
            border-bottom: #A5AAC0 1px solid;
        }

        button {
            border-radius: 30px;
            padding: 10px 30px;
            font-family: Montserrat;
            border: none;

            &.active {
                background: #2A97AA 0% 0% no-repeat padding-box;
                color: black;
            }
    
            &.inactive {
                background: #F1F2F8 0% 0% no-repeat padding-box;
                color: #A5AAC0;
            }
        }
    }

    
    button.submit {
        float: right;
        margin: 20px;
        padding: 10px 30px;
        border: 2px solid #F06498;
        background: white;
        color: #F06498;
        font-size: 14px;
        border-radius: 27px;

        &:hover {
            background: #F06498;
            color: white;
        }
    }

}

// TODO : integrate '.blog' with '.markdown' (in blog.scss)

.markdownArea {
    width: 100%;
    height: 300px;
    overflow-y: scroll;
    box-sizing:border-box;

    margin: 10px 0px;
    padding: 10px;
    border: 2px #E8E8E8 solid;
    border-left: none;
    border-right: 1px #E8E8E8 solid;

    resize: none;
}

.previewArea {
    width: 100%;
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    box-sizing: border-box;
    margin: 10px 0px;
    padding: 0px 10px;    
    border: 2px #E8E8E8 solid;
    border-left: 1px #E8E8E8 solid;
    border-right: none;
    

    white-space: pre-line; // pre-wrap ??
}

.panelMenu {
    // -webkit-box-sizing: border-box;
    // -moz-box-sizing: border-box;
    // box-sizing: border-box;

    margin: 0px 10px;
    display: inline-block;
}

.panelMenu.selected {
    color: black;
}

.panelMenu:disabled {
    color: #cccccc;
}