@import './consts.scss';


div.adminBox {
    box-shadow: 0px 3px 20px #0000004D;
    border-radius: 10px;
    margin: 40px 20px;

    > * {
        margin: 20px 30px;
    }

    .adminForm {
        input, select {
            padding: 15px;
            margin: 10px;
    
            font-size: 16px;
            font-weight: 300;
            color: #333333;
            width: 200px;
            background: #F1F2F8 0% 0%;
            border: none;
            border-radius: 10px;
            opacity: 1;
        }


        input.title {
            padding: 15px;
            margin: 10px 0px;
    
            font-size: 16px;
            font-weight: 300;
            width: calc(100% - 30px);
            background: none;
            border: none;
            border-radius: 0;
            border-bottom: #A5AAC0 1px solid;
        }

        button {
            border-radius: 30px;
            padding: 10px 30px;
            font-family: Montserrat;
            border: none;

            &.active {
                background: #2A97AA 0% 0% no-repeat padding-box;
                color: black;
            }
    
            &.inactive {
                background: #F1F2F8 0% 0% no-repeat padding-box;
                color: #A5AAC0;
            }
        }
    }

    div.editorBottom {
        display: flex;
        width: 100%;
        box-sizing: border-box;
        border-top: 2px #E8E8E8 solid;
        margin: 0px;
        margin-top: 15px;
        padding: 0px 30px;
    }
    
    button.submit {
        float: right;
        margin: 20px;
        padding: 10px 30px;
        border: 2px solid #F06498;
        background: white;
        color: #F06498;
        font-size: 14px;
        border-radius: 27px;

        cursor: pointer;
        &:hover {
            background: #F06498;
            color: white;
        }
    }

}

.panelWrapper {
    height: 400px;
    min-height: 300px;
    max-height: 800px;
    margin: 10px 0px;
}

.panel1, .panel2 {
    float: left;
    display: block;
    width: 50%;
    height: 100%;
}
.panelMenu1, .panelMenu2 {
    float: left;
    display: block;
    width: calc(50% - 30px);
    margin-left: 30px;
}

.collapse.active1 {
    .panelMenu1, .panelMenu2{ width: auto; cursor: pointer; }
    .panelMenu1 label {
        color: black;
        cursor: pointer;
    }
    .panelMenu2 label {
        color: #cccccc;
        cursor: pointer;
    }

    .panel1 { width: 100%; }
    .panel2 { display: none; }
}
.collapse.active2 {
    .panelMenu1, .panelMenu2{ width: auto; cursor: pointer; }
    .panelMenu1 label {
        color: #cccccc;
        cursor: pointer;
    }
    .panelMenu2 label {
        color: black;
        cursor: pointer;
    }

    .panel1 { display: none; }
    .panel2 { width: 100%; }
}


button.showManualBtn{
    float: right;
    background-color: #f5dfec;

    z-index: 1;
    padding: 6px;
    margin: 0;
    margin-right: 30px;
    font-size: 14px;

    position: relative;
    top: -27px;

    cursor: pointer;
}
button.autoRenderBtn{
    float: right;
    background-color: #f5dfec;

    z-index: 1;
    padding: 6px;
    margin: 0;
    margin-right: 30px;
    font-size: 14px;

    cursor: pointer;
}
button.autoRenderBtn.autoRenderActive{
    background-color: #F06498;
    color: white;
}

.collapse button.autoRenderBtn{
    display:none;
}


.editorArea {
    width: 100%;
    height: 100%; // 300px;
    overflow-y: scroll;
    box-sizing:border-box;

    padding: 10px;
    border: 2px #E8E8E8 solid;
    border-left: none;
    border-right: 1px #E8E8E8 solid;

    resize: none;
}

.previewArea {
    width: 100%;
    height: 100%; // 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    box-sizing: border-box;
    
    padding: 0px 10px;    
    border: 2px #E8E8E8 solid;
    border-left: 1px #E8E8E8 solid;
    border-right: none;
    

    white-space: pre-line; // pre-wrap ??
}

.dropzone * {
    margin-left: 30px;
    cursor: pointer;
}