@import 'consts.scss';

* {
    font-family: 'Noto Sans KR', sans-serif;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-size: 15px;
    line-height: 20px;
    font-weight: 300;  
}

.link {
    cursor: pointer;
}

button.button {
    background-color: $main-background;
    padding: 16px;
    margin: 8px;
    border: none;
    width: fit-content;
}
