@import 'consts.scss';

html {
    font-family: 'Noto Sans KR', sans-serif;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-size: 15px;
    line-height: 20px;
    font-weight: 300;  
}

.flexbox {
    display: flex;
}

.link {
    cursor: pointer;
}

button.button {
    background-color: $main-background;
    padding: 16px;
    margin: 8px;
    border: none;
    width: fit-content;
}

.pageTitle {
	font-family: SeoulNamsan;
	margin: 25px 0px;
}

.desktopOnly {
    @media (max-width: $max-mobile-width) {
        display: none;
    }
}

.mobileOnly {
    @media (min-width: $min-tablet-width) {
        display: none;
    }
}