@import './consts.scss';

html {
    font-family: 'Montserrat', 'SeoulNamsan';
//    font-family: 'Noto Sans KR', sans-serif;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-size: 15px;
    line-height: 20px;
    font-weight: 300;  
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
}

.link {
    cursor: pointer;
}


label {
    font-size: 14px;
    color: #666666;
    margin: 10px;
    line-height: 30px;
}


button {
    background-color: $main-background;
    padding: 16px;
    margin: 8px;
    border: none;
    width: fit-content;

    &.button {
        margin: 20px;
        padding: 10px 30px;
        border: 2px solid #F06498;
        background: white;
        color: #F06498;
        font-size: 14px;
        border-radius: 27px;

        &:hover {
            background: #F06498;
            color: white;
        }
    }
}

.pageTitle {
	font-family: SeoulNamsan;
	margin: 25px 0px;
}

.desktopOnly {
    @media (max-width: $max-mobile-width) {
        display: none;
    }
}

.mobileOnly {
    @media (min-width: $min-tablet-width) {
        display: none;
    }
}