@import './consts.scss';



.markdown {
    h1 {
        font-size: 40px;
        line-height: 40px;
        font-weight: 500;
    }

    h2 {
        font-size: 28px;
        line-height: 28px;
        font-weight: 500;
    }

    h3 {
        font-size: 22px;
        line-height: 22px;
        font-weight: 500;
    }

    h4 {
        font-size: 18px;
        line-height: 18px;
        font-weight: 500;
    }

    p {
        font-size: 15px;
        line-height: 30px;
        font-weight: 300;

        overflow: hidden;
    }

    a {
        color: $main-color;
        text-decoration: underline;
    }

    ol, ul {
        margin-left: 32px;
    }

    li::marker {
        margin-left: 20px;
        color: $main-color;
        font-weight: bold;
    }

    li {
        margin: 8px 0px;
    }

    img {
        display: block;
        margin: auto;
        max-width: 100%;
    }


    > * {
        margin-top: 17px;
        margin-bottom: 17px;
    }

    .katex-display > .katex {
        width: 100%;
        overflow-x: auto;
        overflow-y: hidden; //a bug in katex renderer?
        text-align: center!important;
    }

    .toc {
        background: #F9FFEF 0% 0% no-repeat padding-box;
        border-left: 3px solid #A8CB61;
        color: #A8CB61;

        white-space: pre-line;
        word-break: break-all;
        overflow-wrap: break-all;

        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        hyphens: auto;

        .label {
            font-family: 'Montserrat', 'SeoulNamsan';
            background: #A8CB61;
        }
        
        .subsection {
            padding-left: 20px;
        }
        .subsubsection {
            padding-left: 40px;
        }

        .sectionText, .subsectionText, .subsubsectionText {
            font-family: 'SeoulHangang';
            float: left;
            margin-right: 10px;
            font-weight: bold;
        }


        .section, .subsection, .subsubsection {
            font-family: 'SeoulHangang';
            border: none;
            //margin: 0px;
            //margin-bottom: 10px;
        }
        h1, h2, h3, h4, .sectionText, .subsectionText, .subsubsectionText {
            font-size: 15px;
            line-height: 24px;
            font-weight: 300;
            margin-top: 0px;
            margin-bottom: 0px;
        }
    }

    .box {
        box-sizing: border-box;
        padding: 20px;
        margin-top: 45px;

        .label {
            font-family: 'Montserrat', 'SeoulNamsan';
            position: relative;
            left: -23px;
            top: -45px;
            width: fit-content;
            padding: 5px 10px;
            font-size: 15px;
            line-height: 15px;
            margin-bottom: -25px;
            color: white;
        }
    }
}

.guideBackground {
    position: fixed;
    z-index: -1;
    background: transparent linear-gradient(147deg, #F9B399 0%, #FF7BAC 100%) 0% 0% no-repeat padding-box;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

.guide {
    div.metadata {
        font-family: 'SeoulNamsan';
        font-size: 15px;
        line-height: 20px;
        color: white;
        text-shadow: 0px 5px 5px #0000004D;
    }

    h2.subtitle {
        font-family: 'Montserrat', 'SeoulNamsan';
        text-align: center;
        font-size: 24px;
        line-height: 32px;
        color: white;
        margin-top: 70px;
        margin-bottom: 10px;
        text-shadow: 0px 5px 5px #0000004D;
    }

    h1.title {
        font-family: 'SeoulHangang';
        text-align: center;
        font-size: 45px;
        line-height: 60px;
        color: white;
        margin-bottom: 70px;
        margin-top: 10px;
        text-shadow: 0px 5px 5px #0000004D;
    }

    pre {
        padding: 10px;
        background: #eeeeee;
        margin: 10px 0px;
        font-family: 'Roboto Mono', monospace;
        display: flex;
        overflow: scroll;
    }

    .guideContent {
//        font-family: 'SeoulHangang';
        background: white;
        padding: unquote('min(calc(10%),80px)');
        min-width: 80%;
        box-shadow: 0px 3px 20px #0000004D;
        border-radius: 10px;
    }

    .blog {
        height: fit-content;
    }

    .blog, .blog-preview {
        white-space: pre-line;
        word-break: break-all;
        overflow-wrap: break-all;

        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        hyphens: auto;

        .section {
            margin-top: 35px;
            margin-bottom: 15px;
            padding-top: 5px;
            padding-bottom: 15px;
            border-bottom: 1px #F06498 solid;
        }
        
        .subsection {
            margin-top: 35px;
            margin-bottom: 15px;
            padding-left: 20px;
            padding-top: 5px;
            padding-bottom: 10px;
            border-left: 1px #F06498 solid;
        }

        .subsubsection {
            margin-top: 12px;
            margin-bottom: 12px;
            padding-left: 20px;
            padding-top: 5px;
            padding-bottom: 5px;
            border-left: 1px #F06498 solid;
        }

        .section, .subsection, .subsubsection {
            font-family: 'Montserrat', 'SeoulNamsan';
            .markdown > * {
                margin-top: 0;
                margin-bottom: 0;
            }
        }

        .sectionText, .subsectionText, .subsubsectionText {
            font-family: 'Montserrat', 'SeoulNamsan';
            float: left;
            margin-right: 10px;
            color: #F06498;
        }

        .sectionText {
            font-size: 28px;
            line-height: 28px;
            font-weight: bold;
        }

        .subsectionText {
            font-size: 22px;
            line-height: 22px;
            font-weight: bold;
        }

        .subsubsectionText {
            font-size: 18px;
            line-height: 18px;
            font-weight: bold;
        }

        hr {
            border: none;
            height: 1px;
            background-color: #F06498;
            color:#F06498;
        }
    }

    .exercise {
        background: #FFF2F3 0% 0% no-repeat padding-box;
        border-left: 3px solid #F06498;
        color: #000000;

        .label {
            font-family: 'Montserrat', 'SeoulNamsan';
            background: #F06498;

            font-size: 20px;
            line-height: 20px;
            font-weight: 500;
            margin-bottom: 20px;

            color: #FFFFFF;
        }
    }

    summary p {
        display: inline;
    }
}


.guideList {
    h1 {
        font-family: 'SeoulHangang';
        margin: 20px;
        font-size: 24px;
        line-height: 32px;
        color: #FFFFFF;
        text-shadow: 0px 4px 5px #0000004D;
    }

    .guideListContainer {
        background: white;
        border-left: 10px #F06498 solid;
        box-shadow: 0px 10px 15px #00000026;
        border-radius: 10px;

    }

    .guideListItem {
        padding: 20px;
        font-size: 20px;
        display: flex;
        flex-wrap: nowrap;
        align-items: flex-start;
        overflow: auto;

        div {
            overflow: auto;
        }
    }
}