@import './consts.scss';

.markdown {
    h1 {
        font-size: 40px;
        line-height: 40px;
        font-weight: 500;
    }

    h2 {
        font-size: 28px;
        line-height: 28px;
        font-weight: 500;
    }

    h3 {
        font-size: 22px;
        line-height: 22px;
        font-weight: 500;
    }

    p {
        font-size: 15px;
        line-height: 24px;
        font-weight: 300;
    }
}

.blog {
    height: fit-content;
    .section, .subsection {
        margin-top: 20px;
        margin-bottom: 20px;
        border-bottom: 2px $main-color solid;
    }

    .subsection {
        padding-left: 20px;
    }

    .sectionText, .subsectionText {
        float: left;
        margin-right: 10px;
    }

    .markdown > * {
        margin-top: 12px;
        margin-bottom: 12px;
    }

    .sectionText {
        font-size: 28px;
        font-weight: 300;
    }

    .subsectionText {
        font-size: 22px;
        font-weight: 300;
    }
}

.preview {
    .subsection {
        padding-left: 20px;
    }

    .sectionText, .subsectionText {
        float: left;
        margin-right: 10px;
    }

    margin: 10px;
    padding: 10px;
    border: 1px solid #444444;

    .section, .subsection {
        border: none;
        margin: 0px;
        height: 30px;
    }
    h2, h3, .sectionText, .subsectionText {
        font-size: 18px;
        line-height: 20px;
    }
}