@import './consts.scss';



.markdown {
    h1 {
        font-size: 40px;
        line-height: 40px;
        font-weight: 500;
    }

    h2 {
        font-size: 28px;
        line-height: 28px;
        font-weight: 500;
    }

    h3 {
        font-size: 22px;
        line-height: 22px;
        font-weight: 500;
    }

    p {
        font-size: 15px;
        line-height: 24px;
        font-weight: 300;

        overflow: hidden;
    }

    a {
        color: $main-color;
        text-decoration: underline;
    }

    ol, ul {
        margin-left: 32px;
    }

    li::marker {
        margin-left: 20px;
        color: $main-color;
        font-weight: bold;
    }

    li {
        margin-bottom: 6px;
    }

    img {
        display: block;
        margin: auto;
        max-width: 100%;
    }


    > * {
        margin-top: 17px;
        margin-bottom: 17px;
    }

    .katex-display > .katex {
        width: 100%;
        overflow-x: auto;
        overflow-y: hidden; //a bug in katex renderer?
        text-align: center!important;
    }
}

.guideBackground {
    position: fixed;
    z-index: -1;
    background: transparent linear-gradient(147deg, #F9B399 0%, #FF7BAC 100%) 0% 0% no-repeat padding-box;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

.guide {
    h2.subtitle {
        text-align: center;
        font-size: 24px;
        line-height: 32px;
        color: white;
        margin-top: 70px;
        margin-bottom: 10px;
        text-shadow: 0px 5px 5px #0000004D;
    }

    h1.title {
        text-align: center;
        font-size: 45px;
        line-height: 60px;
        color: white;
        margin-bottom: 70px;
        margin-top: 10px;
        text-shadow: 0px 5px 5px #0000004D;
    }


    .guideContent {
        background: white;
        padding: unquote('min(calc(10%),80px)');
        min-width: 80%;
        box-shadow: 0px 3px 20px #0000004D;
        border-radius: 10px;

        .box {
            box-sizing: border-box;
            padding: 20px;
            margin-top: 45px;

            .label {
                position: relative;
                left: -23px;
                top: -45px;
                width: fit-content;
                padding: 5px 10px;
                font-size: 15px;
                line-height: 15px;
                margin-bottom: -25px;
                color: white;
            }
        }

        .exercise {
            background: #FFF2F3 0% 0% no-repeat padding-box;
            border-left: 3px solid #F06498;
            color: #F06498;

            .label {
                background: #F06498;
            }
                h1 {
                    font-size: 20px;
                    line-height: 20px;
                    font-weight: 500;
                    margin-bottom: 20px;
                }
        }

        .preview {
            background: #F9FFEF 0% 0% no-repeat padding-box;
            border-left: 3px solid #A8CB61;
            color: #A8CB61;

            .label {
                background: #A8CB61;
            }
            
            .subsection {
                padding-left: 20px;
            }

            .sectionText, .subsectionText {
                float: left;
                margin-right: 10px;
                font-weight: bold;
            }


            .section, .subsection {
                border: none;
                //margin: 0px;
                //margin-bottom: 10px;
            }
            h1, h2, h3, .sectionText, .subsectionText {
                font-size: 15px;
                line-height: 24px;
                font-weight: 300;
                margin-top: 0px;
                margin-bottom: 0px;
            }
        }
    }


    .blog {
        height: fit-content;
        .section {
            margin-top: 35px;
            margin-bottom: 15px;
            padding-top: 5px;
            padding-bottom: 15px;
            border-bottom: 1px #F06498 solid;
        }
        
        .subsection {
            margin-top: 35px;
            margin-bottom: 15px;
            padding-left: 20px;
            padding-top: 5px;
            padding-bottom: 10px;
            border-left: 1px #F06498 solid;
        }

        .section, .subsection {
            .markdown > * {
                margin-top: 0;
                margin-bottom: 0;
            }
        }

        .sectionText, .subsectionText {
            float: left;
            margin-right: 10px;
            color: #F06498;

        }

        .sectionText {
            font-size: 28px;
            line-height: 28px;
            font-weight: bold;
        }

        .subsectionText {
            font-size: 22px;
            line-height: 22px;
            font-weight: bold;
        }

    }
}