$main-color: #e25fbd;
// $sub-color: #2bb886;
$main-background: #f5dfec;

$primary-color: #F06498;
$primary-color-light: #FFF2F3;

$max-mobile-width: 768px;
$min-tablet-width: 768px;
$max-tablet-width: 1024px;
$min-desktop-width: 1024px;