@import './consts.scss';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@font-face {
    font-family: 'SeoulNamsan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SeoulNamsanM.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SeoulHangang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SeoulHangangM.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// Reset CSS : https://meyerweb.com/eric/tools/css/reset/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
//	font-size: 100%;
//	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	overflow-y:scroll; //always show vertical scroll
}
//ol, ul {
//	list-style: none;
//}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
	color: inherit;
}


html {
    font-family: 'Montserrat', 'SeoulNamsan';
//    font-family: 'Noto Sans KR', sans-serif;
}

#root {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    line-height: 20px;
    font-weight: 300;  

    min-height: 100%;
    margin-left: calc(10% - 20px);
    margin-right: calc(10% - 20px);
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
}

.link {
    cursor: pointer;
}


label {
    font-size: 14px;
    color: #666666;
    margin: 10px;
    line-height: 30px;
}


.pageTitle {
	font-family: SeoulNamsan;
	margin: 25px 0px;
}

.desktopOnly {
    @media (max-width: $max-mobile-width) {
        display: none;
    }
}

.mobileOnly {
    @media (min-width: $min-tablet-width) {
        display: none;
    }
}

@import './write.scss';

@import './layout/footer.scss';
@import './layout/header.scss';

@import './components/buttons.scss';
@import './components/guide.scss';
@import './components/challenge.scss';
@import './components/markdown.scss';
@import './components/mypage.scss';
@import './components/popup.scss';
@import './components/quiz.scss';
@import './components/signin.scss';
@import './components/signup.scss';
@import './components/tabs.scss';
@import './components/tags.scss';